/* navbar */
.navlink {
color:black;
float: left;
width: 170px;
padding: 20px;
margin-right: 10px;
text-align: center;
border: solid 2px transparent;
transition: border-color 0.5s;
cursor: pointer;

}
.navlink:hover {
border-color: black;

}
.centerButtons {
  margin: 0 auto;
  float: left;
}
/* header */
.leopard {
background-image: url("https://artistworks.com/sites/default/files/pictures/picture-72148.jpg");
background-size: cover;
height:500px;
}

.leopard .leopard-text {
margin-top: 40px;
margin-right: 70px;
float:right;
color: white;
max-width: 600px;
font-family: 'Gayathri', sans-serif;

}
a.hero-link {
color: inherit;
text-transform: uppercase;
font-size: 22px;
text-decoration: none;
font-weight: 300;
float:right;
}
.hero-link:hover {
color: #999;
}

/* posts */
.posts {
margin-left: 20%;
margin-right: 5%;
text-align: center;
}

.post {
display: table;
margin-top: 60px;
text-align: left;
font-family: 'Open Sans', sans-serif;


}

.post img {
height: 300px;
width: 420px;
margin: auto 55px;
float:right;
}

.post .text {
vertical-align: middle;
display: table-cell;
padding: 0px 20px 0px 50px;
max-width: calc(100% - 350px);

}

/*quote */
.q {
padding-left:400px;
margin: 60px;
font-size: 22px;
color: #777777;
width: 1000px;
}
/*post section */
.text {
width: 500px;
}

h2{
text-decoration: none;
color:black;
font-family: 'Open Sans', sans-serif;
}
/*divider*/
.panda {
width: 100%;
background-size: cover;
}
.panda1 {
position: relative;
text-align: center;
color: white;
width:100%;
height:auto;
}
.panda-text {
position: absolute;
top: 100px;
left: 80px;
font-size: 50px;
width:400px;
font-family: 'Gayathri', sans-serif;
color:#210511;

}
.panda1 .btn2 {
position: absolute;
top: 40%;
left: 80%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background-color: transparent;
color: #210511;
font-size: 50px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
text-align: center;
}
.panda1 .btn2:hover {
background-color: #ebdde2;
}
/*date and clock*/
#ct {
margin-top: -30px;
float:right;
font-size: 22px;
}
/* footer */
.footer {
 position: relative;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: #333232;
 color: white;
 text-align: center;
 padding: 36px;
}

.s-m{
position: absolute;
top: 50%;
left: 80%;
transform: translate(-50%,-50%);
}
.s-m a{
display: inline-flex;
width: 40px;
height: 40px;
background: #2c3e50;
color: white;
margin: 0 6px;
border-radius: 50%;
justify-content: center;
align-items: center;
transition: 0.4s;
font-size: 22px;
}
.s-m a:hover{
background: #e67e22;
}
.s-m a i{
transition: 0.4s all;
}
.s-m a:hover > i{
transform: scale(1.6) rotate(25deg);
}
.footer-distributed .footer-icons{
margin-top: 25px;
}
